<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skola24 till iCal (.ics)</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" rel="stylesheet">
    <script>
        function logToConsole(message) {
            var consoleDiv = document.getElementById('console');
            var messageElement = document.createElement('div');
            messageElement.textContent = message;
            consoleDiv.appendChild(messageElement);
            consoleDiv.scrollTop = consoleDiv.scrollHeight; // Scrolla till botten
        }

        function submitForm(event) {
            event.preventDefault();
            var formData = new FormData(document.getElementById('form'));

            logToConsole("Startar generering av ICS-fil...");

            fetch('/generate', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then(data => {
                if (data.filename) {
                    logToConsole("Hämtar data från servern...");
                    setTimeout(() => {
                        window.location.href = `/download/${data.filename}`;
                    }, 1000); // Vänta 1 sekund innan nedladdning
                } else if (data.error) {
                    logToConsole(`Fel: ${data.error}`);
                }
            }).catch(error => {
                logToConsole(`Fel: ${error}`);
            });
        }

        function clearForm() {
            var form = document.getElementById('form');
            form.reset();
            logToConsole("Formuläret har tömts.");
        }

        function updateUnitGuid() {
            var dropdown = document.getElementById('school_dropdown');
            var unitGuidInput = document.getElementById('unit_guid');
            var selectedValue = dropdown.value;

            // Om användaren väljer ett värde från dropdown, uppdatera fältet
            if (selectedValue !== "") {
                unitGuidInput.value = selectedValue;
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('form').addEventListener('submit', submitForm);
            document.getElementById('clearButton').addEventListener('click', clearForm);
            document.getElementById('school_dropdown').addEventListener('change', updateUnitGuid);
        });
    </script>
</head>
<body>
    <div class="header-background"></div>
    <h1>Skola24 till iCal (.ics)</h1>
    <p class="subtitle">Av Kristoffer Åberg</p>
    <p class="intro">
        Denna webbplats hjälper dig att generera en iCal (.ics) fil för ditt schema, för import till din kalender. 
        Fyll i formuläret nedan med information om din stads domän, skolans namn och ID, samt årets ID. 
        Tryck sedan på "Generera .ics" för att skapa filen. iCalendar kan användas i din kalenderapp, Outlook eller annat program som stöder iCal-formatet.
        -- Mer här: [<a href="/readme" target="_blank">readme</a>]
    </p>
    <form id="form">
        <label for="domain">Domän:</label>
        <input type="text" id="domain" name="domain" required>
        <small>Exempel: gotham.skola24.se</small>
        
		<label for="school_name">Skola:</label>
		<input type="text" id="school_name" name="school_name" required>
		<small>Exempel: Gotham High</small>
		
        <label for="school_dropdown">Välj en skola:</label>
        <select id="school_dropdown">
           	<option value="MzkxYTdmODAtYjJhNi1mNTRmLWJlZGEtMzhlYWVlNmU3ODFi">Ekeby skola</option>
			<option value="ODM0MzM5ZTAtOTk1Yy1mYjRiLWExODktM2RhN2U4MzQ5Y2Iz">Fylsta skola</option>
			<option value="ZjdhNWViNzEtN2U3OS1mOTUyLWE1ZDItZDY4ZDc1MGU1OTk2">Hagaskolan</option>
			<option value="Nzc2NzA2N2QtNzMzMy1mYjFlLTgxMjItMzFjMDZjODg4NzJk">Hardemo skola</option>
			<option value="MDIyZmI4YjktNGVjZS1mOGI2LTkxZTItNzY1MTBjN2E5NzVl">Kumla gymnasium</option>
			<option value="OTEwYmY1NGItZDc1OC1mMzJiLWFmMmEtODdlYTg3MjliNDdj">Kumlaby skola 7-9</option>
			<option value="Zjc4NmVlMDUtOGUzZi1mMDk3LWJjYzEtOTMyYjE3NWE2OTAz">Kumlaby skola F-6</option>
			<option value="OTM4NWI5OGMtMmRmZS1mMDNjLTliMWQtNzljZjYyNWFiODI1">Kumlas anpassade grundskola</option>
			<option value="YjliNjA4OGMtZGVjNy1mZGYyLTg2NzgtN2ZiNWU3YTgwMWYy">Lillhedens skola</option>
			<option value="NjZkNTdiNjktYjc4Ni1mYTY1LWE2YjMtNTdiMjFiNTNlODg5">Malmens skola</option>
			<option value="YzQ1YmI1NmEtY2QyMi1mMzliLTgxZGQtZjZjMGI4OWZmM2Y3">Skogstorpsskolan 7-9</option>
			<option value="ZGJiMWJlODAtZTI2OS1mOGY3LWEzZWItYjJiYzEwYzY2YWZj">Skogstorpsskolan F-6</option>
			<option value="MjRiMGY2YTctYWQ5My1mMmZhLTlkNTQtYjQ1ZmY3YzY5ZTcw">Stationen</option>
			<option value="OWJlMDkwZjctYmQ0MC1mOTQ1LWJiY2YtOGY4ZGIyZmU2MTUw">Stene skola</option>
			<option value="ODI3NjBkM2QtMjllMi1mMTE3LWI5MTMtM2NmZmFhMzc1OTcw">Tallängens skola</option>
			<option value="ODBmYWIzYjgtM2YwYi1mNjIzLTlmZmMtMjhjZWI0ZTVhZGE0">Vialundsskolan</option>
			<option value="MzFhNGFmMTMtMTU0OC1mYWYyLWJkNGYtZWIxNzUyZTY3YmJi">Vuxenutbildningen</option>
        </select>
        <small>Om du inte vill använda dropdown, fyll i manuellt nedan.</small>

        <label for="unit_guid">Skol-ID:</label>
        <input type="text" id="unit_guid" name="unit_guid" required>
        <small>Exempel: ODBmYWIzYjotM2Yw... (48 tecken)</small>

        <label for="school_year">År-ID:</label>
        <input type="text" id="school_year" name="school_year" required>
        <small>Exempel: 7d35b17b-42eb-46... (32 tecken)</small>

        <label for="teacher_id">Lärar-ID:</label>
        <input type="text" id="teacher_id" name="teacher_id" required>
        <small>Exempel: BW</small>

        <button type="submit">Generera .ics</button>
        <button type="button" id="clearButton">Töm</button>
    </form>

    <div id="console"></div>

    <footer>
        <p>Kontaktuppgifter: <a href="mailto:kristoffer.aberg@skola.kumla.se">kristoffer.aberg@skola.kumla.se</a></p>
    </footer>
</body>
</html>
